<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking Bad</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Acasă</a></li>
                <li>
                    <a href="#">Personaje</a>
                    <ul class="dropdown">
                        <li><a href="#">Walter White</a></li>
                        <li><a href="#">Jesse Pinkman</a></li>
                        <li><a href="#">Gustavo Fring</a></li>
                    </ul>
                </li>
                <li><a href="#">Despre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Breaking Bad</h1>
            <p>Un profesor de chimie de liceu, diagnosticat cu cancer pulmonar inoperabil, începe să producă și să vândă
                metamfetamină pentru a-și asigura viitorul familiei.</p>
        </section>

        <section class="grid-layout">
            <article>
                <img src="/static/hank_died_walt_cries_(breaking_bad_spoilers)_1-35_screenshot.jpg" alt="Walter White">
                <h2>Walter White</h2>
                <p>Un fost profesor de chimie care devine un baron al drogurilor după ce este diagnosticat cu cancer
                    pulmonar.</p>
            </article>
            <article>
                <img src="/static/breaking-bad-movie-teaser.webp" alt="Jesse Pinkman">
                <h2>Jesse Pinkman</h2>
                <p>Un fost student al lui Walter White, care devine partenerul său în afacerea cu metamfetamină.</p>
            </article>
            <article>
                <img src="/static/BCS_S4_Gustavo_Fring.webp" alt="Gustavo Fring">
                <h2>Gustavo Fring</h2>
                <p>Un om de afaceri respectat și liderul secret al unui puternic cartel de droguri.</p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Breaking Bad. Toate drepturile rezervate.</p>
    </footer>

    <script src="/script/app.js"></script>
</body>

</html>